@media (max-width: 1240px) {
  .fact {
    flex-direction: column;
    gap: 12px;
    align-items: flex-end;
  }
}

@media (max-width: 1056px) {
  body {
    padding: 32px 48px;
  }
  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }
  .fact-form input,
  .fact-form select {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
  }

  .header {
    flex-direction: column;
    gap: 25px;
  }
}
